:root {
  --violet: #7f055f;
  --darkblue: #21295c;
  --lightpurple: #a68ee4;
  --white: #ffffff;
  --grey: #d2d7df;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Slabo 27px", serif;
}

.title {
  text-align: center;
  font-size: 5rem;
  font-weight: bold;
  color: white;
}

.title hr {
  width: 50%;
  margin-left: 20rem;
}

.underline {
  font-size: 50px;
  border-width: 5px;
}
#sidebar {
  width: 130px;
  background-color: var(--darkblue);
  height: 100vh;
  position: fixed;
}

.navlist {
  position: fixed;
  background-color: var(--white);
  list-style-type: none;
  padding: 1.5rem;
  height: 100%;
}

.navitem {
  font-size: 25px;
  padding: 1.5rem;
  color: var(--lightpurple);
}
.navitem:hover {
  color: var(--darkblue);
}
.navtext {
  text-align: center;
}

#home {
  margin-left: 130px;
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./images/clouds.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  overflow: hidden;
}
.greeting,
.motto {
  display: flex;
  justify-content: center;
  font-size: 5rem;
  font-style: italic;
}

.nav-btn {
  display: flex;
  justify-content: center;
  padding: 2.5rem;
}

.btn {
  padding: 1.3rem;
  color: var(--white);
  background-color: transparent;
  font-size: 25px;
  font-weight: bold;
  border-radius: 5px;
}
.btn:hover {
  color: var(--violet);
  background-color: var(--grey);
}

/* About Section */

#about {
  margin-left: 130px;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.pexels.com/photos/971360/pexels-photo-971360.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");

  background-repeat: no-repeat;
  background-size: cover;
}

.about-container {
  display: grid;
  grid-template-columns: 500px auto;
  grid-column-gap: 2.5rem;
  box-sizing: border-box;
  height: 80vh;
  padding-top: 1.5rem;
  margin-left: 70px;
}

.left-side {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
}

.avatar img {
  width: 30vw;
  height: 50vh;
  border-radius: 30px;
  border: 5px solid var(--lightpurple);
}

.about-card {
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  border: 2px solid #a68ee4;
  border-radius: 5px;
  background: white;
  width: 25vw;
  height: 15vh;
  margin-top: 3.5rem;
}

.about-card h1 {
  padding-top: 1.3rem;
}
ol {
  list-style-type: none;
  padding: 1.3rem;
}

.right-side {
  padding: 10px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  display: grid;
  grid-template-rows: auto 200px;
}

.skills-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2rem;
  /* border: 5px solid var(--lightpurple); */
  width: 45vw;
  height: 45vh;
}

.skills-list h3 {
  color: var(--white);
}
.skills-list h3:hover {
  color: var(--lightpurple);
}

.item-list .fas,
.item-list .fab {
  font-size: 3rem;
  padding: 1.2rem;
  color: var(--lightpurple);
  /* color: white; */
}
.item-list .fas:hover,
.item-list .fab:hover {
  /* color: var(--darkblue); */
  color: var(--white);
}

.avatar h1,
h3 {
  text-align: center;
  font-size: 25px;
}

.avatar button {
  font-size: 15px;
  padding: 10px;
  margin-left: 120px;
}
.avatar p {
  font-size: 15px;
  padding: 10px;
  text-align: center;
}

.about-buttons {
  padding-top: 5rem;
  display: flex;
  margin-left: 4rem;

  /* align-items: center;
    align-content: center; */
}
.mini-btns {
  padding-top: 0.4rem;
}
.about-mini-btns {
  padding: 0.2rem;
  width: 8vw;
  font-size: 0.8rem;
  background: var(--lightpurple);
  color: white;
}

.about-btns {
  padding: 0.5rem;
  width: 10vw;
  color: white;
  margin: 0.1rem;
  background-color: var(--lightpurple);
  font-size: 1.3rem;
  font-weight: bold;
  border-radius: 5px;
}
.about-btns:hover {
  color: var(--lightpurple);
  background-color: white;
}

#projects {
  margin-left: 120px;
  padding: 2rem;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.pexels.com/photos/971360/pexels-photo-971360.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-repeat: no-repeat;
  background-size: cover;
}

.project-container {
  min-height: 100vh;
  max-width: 90vw;
}

.project-pic img {
  width: 25vw;
  display: flex;
  justify-content: center;
}

.filter {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.filter button {
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  width: 15%;
  background-color: var(--lightpurple);
  color: var(--white);
  margin: 0.2rem;
}
.filter button:hover {
  background-color: var(--white);
  color: var(--lightpurple);
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1.5rem;
  padding: 5rem;
}
.project-btns {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.project-btns button {
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  width: 35%;
  background-color: var(--lightpurple);
  color: var(--white);
  margin: 0.2rem;
  border-radius: 5px;
}
.project-btns button:hover {
  background-color: var(--white);
  color: var(--lightpurple);
}

#blog {
  margin-left: 130px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.pexels.com/photos/971360/pexels-photo-971360.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.blogs {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-top: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 25%;
  height: 45vh;
  text-align: center;
  margin: auto;
  margin-bottom: 10px;
  border: 2rem solid var(--lightpurple);
  border-radius: 5px;
  background: white;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card img {
  width: 100%;
}

.blog-details img {
  margin-bottom: 5px;
}
.blog-details p {
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.7rem;
}
.blog-btn {
  font-size: 1rem;
  font-weight: bold;
  padding: 0.6rem;
  border-radius: 8px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: var(--lightpurple);
  color: var(--white);
}

#contact {
  margin-left: 130px;
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.pexels.com/photos/971360/pexels-photo-971360.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 20px;
}

.w3-input {
  width: 30vw;
  padding: 1.2rem;
  font-size: 18px;
  margin: 0.2rem;
  border-radius: 5px;
}

.contact-btn {
  font-size: 1rem;
  font-weight: bold;
  width: 15rem;
  padding: 1rem;
  border-radius: 8px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: var(--lightpurple);
  color: var(--white);
}
.contact-btn:hover {
  color: var(--lightpurple);
  background-color: var(--white);
}
