:root {
  --violet: #7f055f;
  --darkblue: #21295c;
  --lightpurple: #a68ee4;
  --white: #ffffff;
  --grey: #d2d7df;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Slabo 27px", serif;
}

.title {
  padding: 3.5rem;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: var(--darkblue);
}

.underline {
  font-size: 50px;
  border-width: 5px;
}
#sidebar {
  width: 130px;
  background-color: var(--darkblue);
  height: 100vh;
}

.navlist {
  position: fixed;
  background-color: var(--white);
  list-style-type: none;
  padding: 1.5rem;
  height: 100%;
}

.navitem {
  font-size: 25px;
  padding: 1.5rem;
  color: var(--lightpurple);
}
.navitem:hover {
  color: var(--darkblue);
}
.navtext {
  text-align: center;
}

#home {
  margin-left: 130px;
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./images/clouds.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.greeting,
.motto {
  display: flex;
  justify-content: center;
  font-size: 60px;
  font-style: italic;
}

.nav-btn {
  display: flex;
  justify-content: center;
  padding: 2.5rem;
}

.btn {
  padding: 1.3rem;
  color: var(--white);
  background-color: transparent;
  font-size: 25px;
  font-weight: bold;
  border-radius: 5px;
}
.btn:hover {
  color: var(--violet);
  background-color: var(--grey);
}

/* About Section */

#about {
  margin-left: 140px;
}

.about-container {
  max-height: 110vh;
  display: grid;
  grid-template-columns: 330px auto;
  box-sizing: border-box;
}

.left-side {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  height: 100vh;
}

img {
  width: 25vw;
  border-radius: 10px;
}

ol {
  list-style-type: none;
  padding: 1.3rem;
}

.right-side {
  padding: 10px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.skills-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.skills-head {
  padding: 5px;
  font-size: 50px;
}

.item-list .fas,
.item-list .fab {
  font-size: 60px;
  margin: 1.2rem;
  color: var(--lightpurple);
}
.item-list .fas:hover,
.item-list .fab:hover {
  color: var(--darkblue);
}

.avatar h1,
h3 {
  text-align: center;
  font-size: 25px;
}

.avatar button {
  font-size: 15px;
  padding: 10px;
  margin-left: 120px;
}
.avatar p {
  font-size: 15px;
  padding: 10px;
  text-align: center;
}
#projects {
  margin-left: 130px;
}

.project-container {
  max-height: 100vh;
  max-width: 90vw;
}

.filter {
  display: flex;
  justify-content: center;
  padding: 30px;
  margin: 50px;
}

.filter button {
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  width: 50%;
  background-color: var(--lightpurple);
  color: var(--darkblue);
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

#blog {
  margin-left: 130px;
}

.blogs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  text-align: center;
  margin: auto;
  margin-bottom: 10px;
  border: 2px solid black;
}

.blog-btn {
  font-size: 16px;
  padding: 0.6rem;
  border-radius: 8px;
}

#contact {
  margin-left: 130px;
  height: 60vh;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 20px;
}

.w3-input {
  width: 30vw;
  padding: 1.2rem;
  font-size: 18px;
  margin: 0.2rem;
  border-radius: 5px;
}
